<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dm-usuario/dm-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">

<dom-module id="gestor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el gestor Usuario</h1>  
    <visor-usuario on-myevent="processEvent"></visor-usuario>
    <dm-usuario id="receiver" id="{{id}}"></dm-usuario>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorUsuario extends Polymer.Element {
      static get is() { return 'gestor-usuario'; }
      static get properties() {
        return {            
            }
      };
        
    processEvent(e) {
        console.log("Evento capturado del emisor");
        console.log(e);
        this.$.receiver.showData(e.detail);
        }
    }

    window.customElements.define(GestorUsuario.is, GestorUsuario);
  </script>
</dom-module>
