<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <h3>Estas son tus cuentas</h3>      
    <h3>Datos de cuentas del usuario</h3>   
      
    <template is="dom-repeat" items="{{accounts}}">
        <h3>IBAN: {{item.iban}}</h3>
        <h3>Saldo: {{item.balance}}</h3>
        <button class="btn btn-primary" on-click="sendEventMovimiento">Obtener movimientos</button>
   </template>
    
       
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
              userid: {
                type: Number
              },iban: {
                type: String
              }, balance: {
                type: Number
              }, accounts: {
                type:Array
              }
            };
        }
            
      sendEventMovimiento(e){
        console.log("Buscar movimientos pulsado");
        console.log(e);
        console.log("Campos informados" + e.model.item.iban);
        this.dispatchEvent(new CustomEvent(
              "myeventvisorm",
              {
                "detail" : {
                    "iban" : e.model.item.iban,
                    "balance" : e.model.item.balance
                }
            })
        );        
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
