<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../login-evento/login-evento.html">

<dom-module id="gestor-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el gestor Login/Logout</h1>  
    <login-usuario on-myevent="processEvent"></login-usuario>
    <login-evento id="receiver"></login-evento>
    <!--<emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorLogin extends Polymer.Element {
      static get is() { return 'gestor-login'; }
      static get properties() {
        return {            
            }
      };
        
    processEvent(e) {
        console.log("Evento capturado del emisor");
        console.log(e);
        this.$.receiver.showData(e.detail);
        }
    }

    window.customElements.define(GestorLogin.is, GestorLogin);
  </script>
</dom-module>
