<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h2>Login de usuario</h2>

     <!-- <div class="row">
          <h3 class="col-md-2">Hola</h3>
          <h3 class="col-md-5">Soy Bootstrap</h3>
      </div>-->

    <input type="email" placeholder="email@example.com" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="sendEventLogin">Acceda</button>


   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
            email: {
            type: String
          }, password: {
            type: String
          }, logged: {
            type: Boolean,
            value : false
          }
        };
      }


    sendEventLogin(e){
    console.log("Login pulsado");
    console.log(e);
    console.log("Campos informados");

    this.dispatchEvent(new CustomEvent(
          "myeventlogin",
          {
            "detail" : {
              "email" : this.email,
              "password" : this.password
            }
        })
    );
    //console.log("Envío evento con datos" + detail);
  }

    /*showError(error){
    console.log("Hubo un error");
    console.log(error);
    }*/

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
