<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../dm-logout/dm-logout.html">
<link rel="import" href="../alta-usuario/alta-usuario.html">
<link rel="import" href="../dm-usuario/dm-usuario.html">
<link rel="import" href="../visor-cuenta/visor-cuenta.html">
<link rel="import" href="../dm-cuenta/dm-cuenta.html">
<link rel="import" href="../dm-movimiento/dm-movimiento.html">
<link rel="import" href="../visor-movimiento/visor-movimiento.html">
<link rel="import" href="../dm-altamov/dm-altamov.html">
<link rel="import" href="../alta-movimiento/alta-movimiento.html">

<dom-module id="mi-banco">
  <template>
    <style>
      :host {
        display: block;
      }
    google-map {
    height: 200px;
    width: 400px;
    align-self: center;
    }
    </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div hidden$="{{!showLogout}}">    
    <dm-logout id={{id}} on-myeventdmlogout="processRespuestaLogout"></dm-logout>
    </div>

    <!-- <div hidden$="{{!showLogout}}">
      <logout-usuario id={{id}} on-click="processEventoLogout"></logout-usuario>
    </div> -->

    <div hidden$="{{!showLogin}}">
      <login-usuario on-myeventlogin="processEventoLogin" on-myeventloginerror="processRespuestaLoginerror"></login-usuario>
    </div>
    <span hidden$="{{!showAccount}}">Bienvenido a casa Jefe</span>
    <dm-login credenciales={{credenciales}} on-myeventdmlogin="processRespuestaLogin"></dm-login>

    <dm-cuenta userid={{id}} on-myeventdmc="processPeticionCuenta"></dm-cuenta>
    <div hidden$="{{!showAccount}}">
      <visor-cuenta accounts={{accounts}} on-myeventvisorm="processEventoCuenta"></visor-cuenta>
    </div>

    <dm-movimiento iban={{iban}} on-myeventdmm="processResquestaMovimientos"></dm-movimiento>

   <div hidden$="{{!showMov}}">
      <visor-movimiento iban={{iban}} balance={{balance}} movements={{movements}}></visor-movimiento>
    </div>

      <div hidden$="{{!showNewmov}}">
      <alta-movimiento on-myeventaltamov="processEventoAltamov"></alta-movimiento>
    </div>
    <dm-altamov nuevo_movimiento={{nuevo_movimiento}} on-myeventdmam="processRespuestaAltamov"></dm-altamov>

    <button hidden$="{{!showNew}}" class="btn btn-success" on-click="showNewuser">Alta Cliente</button>
    <span hidden$="{{!showNew}}">No existe en nuestra BBDD, a darse de alta</span>
    <div hidden$="{{!showNew}}">
      <alta-usuario on-myeventalta="processEventoUsuario"></alta-usuario>
    </div>
    <dm-usuario nuevo_usuario={{nuevo_usuario}} on-myeventdm="processRespuestaUsuario"></dm-usuario>

    <!-- <div hidden$="{{!showLogin}}">
    <h3>Está usted en Madrid</h3>
    <google-map fit-to-markers api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc">
      <google-map-marker latitude="40.4893538" longitude="-3.6827461" draggable="true"></google-map-marker>
    </google-map>
    </div> -->

     </template>
<!--<script src="../webcomponentsjs/webcomponents-lite.min.js"></script>-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiBanco extends Polymer.Element {
      static get is() { return 'mi-banco'; }
      static get properties() {
        return {
            credenciales : {
                type : Object
          }, email : {
                type: String
          }, password : {
                type: String
          }, logged: {
            type: Boolean,
            value : false
          }, id : {
                type: Number
          }, first_name : {
                type: String
          }, last_name : {
                type: String
          }, email: {
                type: String
          }, nuevo_usuario : {
                type : Object
          }, userid : {
                type: Number
          }, accounts : {
              type: Array
          }, iban : {
              type : String
          }, balance : {
              type : Number
          }, ibanmov : {
              type : String
          },error : {
              type : String
          }, amount : {
              type : Number
          }, typemov : {
              type : String
          }, movements : {
              type: Array
          }, nuevo_movimiento : {
              type : Object
          }, showLogin : {
              type: Boolean,
              value: true
          }, showAccount : {
              type: Boolean,
              value: false
          }, showNew : {
              type: Boolean,
              value: false
          },showMov : {
              type: Boolean,
              value: false
          }, showNewmov : {
              type: Boolean,
              value: false
          },showLogout : {
              type: Boolean,
              value: false
          }
        };
      }

    showNewuser(){
    console.log("Pulsado el alta");
    this.showNew = true;
    }

//Eventos para el login y respuesta
    processEventoLogin(e) {
        console.log("Evento capturado del login");
        console.log(e.detail);
        this.credenciales = e.detail;
        }

    processRespuestaLoginerror(e){
        console.log("Error capturado del login");
        console.log(e.detail.error);
        this.showNew = true;
        }

    processRespuestaLogin(e){
        console.log("Evento capturado del Data Manager Logon");
        console.log(e.detail);
        this.showLogin = false;
        this.showAccount = true;
        this.showLogout = true;
        this.id = e.detail.idUsuario;
        console.log("USUARIO Logado " + this.id);

      }

    processEventoLogout(e) {
    console.log("Evento capturado del logout");
    console.log("Campos informados " + e.detail.idUsuario);
    this.iduser = e.detail.isUsuario;
    console.log("Envío evento con usuario a deslogarse" + this.iduser);

    }

   processRespuestaLogout(e){
      console.log("Evento capturado del Data Manager Logout");
      console.log(e.detail);
      this.id = e.detail.idUsuario;
      this.showLogin = true;
      this.showAccount = false;
      this.showLogout = false;
      console.log("el usuario ha hecho Logout " + this.id);
    }

//Eventos alta usuario y respuesta alta usuario
    processEventoUsuario(e){
    console.log("Evento capturado del componente alta-usuario");
    console.log(e.detail);
    this.nuevo_usuario = e.detail;
    console.log(" Mostramos datos nuevo usuario -> " + JSON.stringify(this.nuevo_usuario));
  }

    processRespuestaUsuario(e){
    console.log("Evento capturado del Data Manager NuevoUsu");
    console.log(e.detail);
    this.id = e.detail.idUsuario;
    console.log("USUARIO DADO DE ALTA " + this.id);
  }

//Eventos consulta cuentas y respuesta consulta cuentas de usuario

   processEventoCuenta(e){
    console.log("Evento capturado del componente visor-cuenta");
    this.iban = e.detail.iban;
    this.balance = e.detail.balance;
    console.log("  Mostramos datos cuenta -> ");
  }

    processPeticionCuenta(e){
    console.log("Evento capturado del componente dm-cuenta");
    console.log(e.detail);
    this.accounts = e.detail;
    this.showLogin =  false;
  }


    processResquestaMovimientos(e){
    console.log("Evento capturado del componente dm-movimiento");
    console.log(e.detail);
    this.movements = e.detail;
    this.showMov = true;
    this.showAccount = false;
    this.showLogin =  false;
  }

        //Eventos alta movimiento y respuesta alta movimiento
    processEventoAltamov(e){
    console.log("Evento capturado del componente alta-movimiento");
    console.log(e.detail);
    this.nuevo_movimiento = e.detail;
    console.log(" Mostramos datos nuevo movimiento -> " + JSON.stringify(this.nuevo_movimiento));
  }

    processRespuestaAltamov(e){
    console.log("Evento capturado del Data Manager NuevoUsu");
    console.log(e.detail);
    this.balance = e.detail.balance;
    console.log("NUEVO BALANCE " + this.balance);
  }

}

    window.customElements.define(MiBanco.is, MiBanco);
  </script>
</dom-module>
