<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <h3>Estos son tus movimientos</h3>      
    <h3>de la cuenta {{iban}} y el balance total {{balance}}</h3>            
          <table class="table tablestriped">
          <thead>
            <tr>
              <th scope="col">IMPORTE</th>
              <th scope="col">FECHA</th>
              <th scope="col">TIPO</th>
            </tr>
          </thead>
          <tbody>
              <template is="dom-repeat" items="{{movements}}">
                <tr>
                 <td>{{item.amount}}</td>
                 <td>{{item.date}}</td>
                 <td>{{item.type}}</td>
                </tr>
              </template>
          </tbody>
        </table>
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
              ibanmov: {
                type: String
              },iban: {
                type: String
              }, balance: {
                type: Number
              }, movements: {
                type:Array
              }
            };
        }
            
      /*sendEventCuenta(e){
        console.log("Buscar cuenta pulsado");
        console.log(e);
        console.log("Campos informados" + this.$.userid);
        this.dispatchEvent(new CustomEvent(
              "myeventvisorc",
              {
                "detail" : {
                    "userid" : this.$.userid
                }
            })
        );        
      }*/
    }

    window.customElements.define(VisorMovimiento.is, VisorMovimiento);
  </script>
</dom-module>
