<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style> 
      
    <iron-ajax
     id="doLogin"
     method="POST"
     url="http://localhost:3000/apitechu/v2/login"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
        
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogin extends Polymer.Element {
      static get is() { return 'dm-login'; }
      static get properties() {
        return {
           credenciales : {
            type : Object,
            observer : '_hacerLogin'
          }
        };
      }
        
   _hacerLogin(data){
        console.log("Estoy en dm-LOGIN : funcion _hacerLogin");
        console.log("Datos entrada" + JSON.stringify(data));
        this.$.doLogin.body = JSON.stringify(data);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada ");
        console.log("LLamada a la API ");
      }


    manageAJAXResponse(data){
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos");
        console.log(data);
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent("myeventdmlogin",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta Login");
      }

      showError(error){
        console.log("Hubo un error");
        console.log("Este es el error" + error.detail.error);
        this.dispatchEvent(new CustomEvent("myeventloginerror",{"detail":error.detail.error})); 
        console.log("lanzo evento error");
      }       
    
    }

    window.customElements.define(DmLogin.is, DmLogin);
  </script>
      
</dom-module>
