<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h2>Alta de usuario: Introduzca sus datos</h2>

    <input type="email" placeholder="email@example.com" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <input type="text" placeholder="Nombre" value="{{first_name::input}}"/>
    <input type="text" placeholder="Apellido" value="{{last_name::input}}"/>
    <button class="btn btn-primary" on-click="sendEventUsuario">Alta</button>


   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
              first_name: {
                type: String
              }, last_name: {
                type: String
              }, email: {
                type: String
              }, password: {
                type: String
              }
          };
        }

      sendEventUsuario(e){
        console.log("Alta pulsado");
        console.log(e);
        console.log("Campos informados");

        this.dispatchEvent(new CustomEvent(
              "myeventalta",
              {
                "detail" : {
                  "email" : this.email,
                  "password" : this.password,
                  "first_name" : this.first_name,
                  "last_name" : this.last_name
                }
            })
        );
    console.log("Envío evento con datos" + e.detail);
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
