<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
      <button class="btn btn-danger" on-click="sendEventLogout">Logout</button>
         
   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
            userid: {
            type: Number
          }
        };
      }
        
    sendEventLogout(e){
        console.log("Logout pulsado");
        console.log(e);
        console.log("usuario informado" + this.userid);
        
        this.dispatchEvent(new CustomEvent(
              "myeventlogout",
              {
                "detail" : {
                  "id" : this.userid,
                }
            })
        );
      console.log("Envío evento con datos" + detail);
    }     

}

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
