<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>     
      
    <iron-ajax 
        id="getAccounts"
        url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
        handle-as="json"
        on-response="manageAJAXResponse"> 
        
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmCuenta extends Polymer.Element {
      static get is() { return 'dm-cuenta'; }
      static get properties() {
        return {            
          userid: {
            type: Number,
            observer : '_buscarCuenta'
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, accounts: {
            type:Array
          }
        };
      }
        
   _buscarCuenta(data){
       
        console.log("Recuperando cuentas");
        this.$.getAccounts.body = JSON.stringify(data);
        this.$.getAccounts.generateRequest();
        console.log("Petición enviada ");
        console.log("LLamada a la API ");
       
      }

      manageAJAXResponse(data){
          
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos");
        console.log(data);
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent("myeventdmc",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta");
          
      }

      showError(error){
          
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.error);

      }        
    
    }

    window.customElements.define(DmCuenta.is, DmCuenta);
  </script>
      
</dom-module>
