<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-altamov">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>     
     
   <iron-ajax
     id="newMov"
     method="POST"
     url="http://localhost:3000/apitechu/v2/newmovement"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
        
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
      
    class DmAltamov extends Polymer.Element {
      static get is() { return 'dm-altamov'; }
      static get properties() {
        return {
           nuevo_movimiento : {
            type : Object,
            observer : 'altaMovimiento'
          }, balance : {
            type : Number
          }
        };
      }
        
        altaMovimiento(data){
       
        console.log("Alta movimiento");
        this.$.newMov.body = JSON.stringify(data);
        console.log("Datos de entrada movimientos " + JSON.stringify(data));
        this.$.newMov.generateRequest();
        console.log("Petición enviada ");
        console.log("LLamada a la API ");
       
      }
       
      manageAJAXResponse(data){          
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos");
        console.log(data);
        console.log("Alta de la movimiento" + JSON.stringify(data.detail.response));
        this.dispatchEvent(new CustomEvent("myeventdmam",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta");

      }

      showError(error){
          
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.error);

      }   
    
    }

    window.customElements.define(DmAltamov.is, DmAltamov);
  </script>
      
</dom-module>
