<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h2>Realice su movimiento</h2>

    <input type="text" placeholder="IBAN" value="{{ibanmov::input}}"/>
    <input type="number" placeholder="Importe" value="{{amount::input}}"/>
    <input type="text" placeholder="Tipo" value="{{typemov::input}}"/>

    <!-- <input list="tipos" name="tipos" value="{{typemov::input}}">
    <datalist id="tipos">
      <option value="Ingreso">
      <option value="Reintegro">
    </datalist> -->

    <!-- <select  name="Tipomovimiento" onchange=""="mySelectFunction()">
      <option value="Ingreso">Ingreso</option>
      <option value="Reintegro">Reintegro</option>
    </select> -->
      <!-- <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tipo movimiento
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Ingreso</a>
        <a class="dropdown-item" href="#">Reintegro</a>
      </div>
    </div> -->

      <br><br>
    <button class="btn btn-primary" on-click="sendEventMovimiento">Enviar</button>


   </template>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
              ibanmov: {
                type: String
              }, amount: {
                type: Number
              }, typemov: {
                type: String
              }
          };
        }


  //     function myFunction() {
  //     var x = document.getElementById("mySelect").length;
  //     document.getElementById("demo").innerHTML = x;
  // }
      sendEventMovimiento(e){
        console.log("Alta movimiento pulsado");
        console.log(e);
        console.log("Campos informados");

        this.dispatchEvent(new CustomEvent(
              "myeventaltamov",
              {
                "detail" : {
                  "ibanmov" : this.ibanmov,
                  "amount" : this.amount,
                  "typemov" : this.typemov
                }
            })
        );
    console.log("Envío evento con datos" + e.detail);
      }

    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
