<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-logout">
  <template>
    <style>
      :host {
        display: block;
      }
    </style> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <button class="btn btn-danger" on-click="hacerLogout">Logout</button>
      
    <iron-ajax
     id="doLogout"
     method="POST"
     url="http://localhost:3000/apitechu/v2/logout/{{id}}"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
        
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogout extends Polymer.Element {
      static get is() { return 'dm-logout'; }
      static get properties() {
        return {
            id : {
                type : Number
            }
        };
      }
        
   hacerLogout(data){
        console.log("Estoy en dm-LOGOUT : funcion _hacerLogout");        
        console.log("Usuario a deslogar " + JSON.stringify(data));
       var logoutData = {
        "id": this.id
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        console.log("Petición enviada de deslogarse ");
        console.log("LLamada a la API ");
      }
 
    manageAJAXResponse(data){
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos");
        console.log(data);
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent("myeventdmlogout",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta");
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.error);

      }        
    
    }

    window.customElements.define(DmLogout.is, DmLogout);
  </script>
      
</dom-module>
