<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el evento del Login y </h1> 
    <h2>Este es el id {{id}}</h2>
    <h2>Este es el email {{email}}</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginEvento extends Polymer.Element {
      static get is() { return 'login-evento'; }
      static get properties() {
        return {  
            id: {
             type: Number
            }, email: {
             type: String
            }        
        }
      };
      
    showData(data) {        
        console.log("Datos recibidos en el receptor");
        console.log(data);
        this.id = data.idUsuario;
        this.email = data.email;
        }      
    }

    window.customElements.define(LoginEvento.is, LoginEvento);
  </script>
</dom-module>
