<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de cuentas usuario </h2>
      
    <input type= "text" value="{{userid::input}}"/>
      
    <button on-click="getAccounts">Obtener cuentas</button>
    <template is="dom-repeat" items="{{accounts}}">
        <h3>IBAN: {{item.iban}}</h3>
        <h3>Saldo: {{item.balance}}</h3>      
        
    </template>
      
    <iron-ajax auto=""
        id="getAccounts"
        url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
        handle-as="json"
        on-response="getAccounts"> 
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, accounts: {
            type:Array
          }
        };
      }
        
    showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        /*this.userid = data.detail.response[0].userid;
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;*/
        }
        
    getAccounts(data) {
        console.log("Dame las cuentas");
        //console.log(data.detail.response);
        this.accounts = data.detail.response;
        
        /*this.userid = data.detail.response[0].userid;
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;*/
        }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
